<section class="appstore">
  <v-col>
    <h2 class="headline">AD Apps</h2>
    <v-row wrap>
      <v-flex d-flex v-for="(app, i) in apps" :key="i" xs3 class="pa-2">
        <v-card style="width: 100%;">
          <v-sheet class="primary py-5">
            <v-row class="fill-height" align="center" justify="center">
              <div class="display-1 white--text py-5">{{app.appname}}</div>
            </v-row>
            <v-btn icon text absolute top right @click="selectedApp = app"><v-icon class="white--text" v-if="app.installed">far fa-times</v-icon><v-icon class="white--text" v-else>fad fa-download</v-icon></v-btn>
          </v-sheet>
          <v-card-text>
            {{app.description}}
          </v-card-text>
        </v-card>
      </v-flex>
    </v-row>
  </v-col>
  <v-dialog :value="!!selectedApp" v-if="!!selectedApp" max-width="500px" @click:outside="closeDialog(false)">
    <v-card>
      <v-card-title primary-title>
        Are you sure you want to <span v-if="selectedApp.installed" class="pl-1">un</span>install {{selectedApp.appname}}?
      </v-card-title>
      <v-card-text>
        
      </v-card-text>
      <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn text @click="closeDialog(false)">Cancel</v-btn>
          <v-btn text @click="closeDialog(true)">Ok</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</section>