<section class="home fill-height">
    <v-row class="fill-height" align="center">
        <v-col>
            <v-col rows="12" align="center" justify="center" class="mb-5">
                <v-avatar size="100" class="ma-3">
                    <v-img src="../../assets/logo.jpg" />
                </v-avatar>
                <h1 class="display-2 font-weight-bold">3Bot</h1>
            </v-col>
            <v-sheet :height="75" class="transparent"></v-sheet>
            <v-row align="center" justify="center">
                <div v-for="(route, i) in routes.filter(r => r.meta && r.meta.app)" :key="i" class="text-center px-5">
                    <span @click="$router.push(route)" style="cursor: pointer">
                        <v-avatar size="50" class="ma-3 primary">
                            <v-icon size="25" class="white--text">{{route.meta.icon}}</v-icon>
                        </v-avatar>
                        <p class="text-capitalize">{{route.meta.displayName || route.name}}</p>
                    </span>
                </div>
                <div v-if="!routes.length" class="text-center px-5">
                    <v-row>It seems like you don't have any apps installed.</v-row>
                    <v-row align="center" justify="center" class="text-center">Go to the <v-btn small text
                            :to="{name: 'appstore'}" color="secondary">appstore</v-btn> and install some.</v-row>
                </div>
            </v-row>
            <v-sheet :height="200" class="transparent"></v-sheet>
        </v-col>
    </v-row>
</section>